<div class="navbar-wrapper">
    <div class="top-bar">
        <p>DC Psicólogos</p>
    </div> <!-- Esta es la franja azul -->
    <nav>
        <a href="/"><img src="/assets/images/logo-without-background.png" alt="logotipo de la empresa"></a>
        <ul class="item-options-laptop">
            <li><a href="/">Inicio</a></li>
            <li><a href="/pages/nosotros.html">Sobre nosotros</a></li>
            <li><a href="/pages/blog.html">Blog</a></li>
            <li><a href="/pages/servicios.html">Servicios</a></li>
            <li><a href="/pages/contacto.html">Contacto</a></li>    
        </ul>
        <div class="dropdown-mobile">
            <button class="dropdown-button">☰</button>
            <ul class="dropdown-content" id="dropdownMenu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/pages/nosotros.html">Sobre nosotros</a></li>
                <li><a href="/pages/blog.html">Blog</a></li>
                <li><a href="/pages/servicios.html">Servicios</a></li>
                <li><a href="/pages/contacto.html">Contacto</a></li> 
            </ul>
        </div>      
    </nav>
</div>
