body{
    background-color: rgb(245, 244, 244);
}
.section{
    padding: 50px 80px;
    width: 100%;
}
/*_________________________________________________________________________________________________________*/
/*________________________________________START HERO SECTION_______________________________________________*/
.hero-section {
    padding-top: 120px;
    height: 300px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #cad6d8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-text {
    color: #104b68;
    padding: 0 20px;
    z-index: 1;
    animation: fadeIn 1.2s ease-in;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: italic;
}
/* Animación del texto */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(0px); /* ligero desplazamiento vertical */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* posición final */
    }
}
/*________________________________________END HERO SECTION_______________________________________________*/
/*_______________________________________________________________________________________________________*/

/*__________________________________________________________________________________________________________*/
/*_________________________________________START WORKERS CONTAINER__________________________________________*/
.perfil-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #104b68;
}
.perfil-left .perfil-container {
  flex-direction: row;
}
.perfil-right .perfil-container {
  flex-direction: row-reverse;
}
.perfil-container {
  max-width: 2000px;
  width: 1000px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 2;
}
.perfil-img-wrap {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin: 20px;
}
.perfil-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 2;
}
.perfil-text {
  max-width: 600px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.subtitle{
    text-align: left;
    font-weight: 350;
    font-style: italic;
    font-size: 2.9rem;
}
.letter{
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 490;
    font-style: italic;
    font-size: 1.1rem;
    line-height: 28px;
}
.content-worker{
    padding: 20px 60px 40px 60px;
    text-align: justify;
}
.float-left {
  float: left;
  width: 250px;
  height: auto;
  margin: 20px 20px 20px 0px;
  border-radius: 10px; /* opcional, para esquinas redondeadas */
  object-fit: cover;
}
.float-right {
  float: right;
  width: 250px;
  height: auto;
  margin: 20px 0px 20px 20px;
  border-radius: 10px;
  object-fit: cover;
}
.parallax-bg {
  position: relative;
  overflow: hidden;
  height: 65vh;
}
.parallax-img-simple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(0);
  will-change: transform;
  transform: translateZ(0);
}
@media (max-width: 768px) {
  .parallax-bg {
        height: 60vh;
    }
    .parallax-img-simple {
        height: 100%;
    }
}
/*_________________________________________END WORKERS CONTAINER__________________________________________*/
/*________________________________________________________________________________________________________*/

/*________________________________________________________________________________________________________*/
/*________________________________________START CARRUSEL CONTAINER________________________________________*/
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container-carrusel{
    max-width: 1200px;
    margin-top: 30px;
    padding: 20px;
}
.carrusel .subtitle{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}
.fade-carousel {
  position: relative;
  max-width: 850px;
  margin: 30px auto;
  border-radius: 20px;
  overflow: hidden;
}
.fade-slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 450px;
  animation: fade 1s ease-in-out;
}
.fade-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.fade-slide.active {
  display: block;
  position: relative;
}
@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}
.fade-dots {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 3;
}
.fade-dots .dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fade-dots .dot.active {
  background-color: #104b68;
}
/*________________________________________END CARRUSEL CONTAINER________________________________________*/
/*______________________________________________________________________________________________________*/

/*_____________________________________________________________________________________________________*/
/*_____________________________________________MEDIA QUERY_____________________________________________*/
@media (max-width: 780px) {
    .section {
        padding: 30px 20px;
    }
    /*__________________Hero section__________________*/
    .hero-text {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    /*__________________Workers section__________________*/
    .fondo-semitransparente {
        display: none;
    }
    .perfil-container {
        flex-direction: column-reverse !important;
        align-items: center;
        text-align: center;
        gap: 0px;
    }
    .perfil-left .perfil-container,
    .perfil-right .perfil-container {
            flex-direction: column-reverse !important;
    }
    .perfil-img-wrap {
            width: 250px;
            height: 250px;
            margin: 10px 0;
    }
    .perfil-text {
        margin-top: 20px;
    }
    .content-worker{
        padding: 20px;
    }
    .float-left {
        float: left;
        width: 250px;
        height: auto;
        margin: 10px;
        border-radius: 10px; /* opcional, para esquinas redondeadas */
        object-fit: cover;
    }
    .float-right {
        float: right;
        width: 250px;
        height: auto;
        margin: 10px;
        border-radius: 10px;
        object-fit: cover;
    }
    .perfil-text .subtitle {
            text-align: center;
            font-size: 2rem;
    }
}
/*_____________________________________________________________________________________________________*/
/*_____________________________________________________________________________________________________*/
@media (max-width: 550px) {
    .section{
        padding: 30px 10px;
    }
    .perfil-text .subtitle {
            text-align: center;
            font-size: 1.4rem;
    }
    /*__________________Hero section__________________*/
    .hero-text {
        width: 300px;
    }
    /*__________________Workers section__________________*/
    .text-wrap-image img {
        float: none;
        display: block;
        margin: 20px auto;
        width: 70%;
    }
    .content-worker{
        padding-top: 10px;
    }
    .float-left, .float-right {
        float: none;
        display: block;
        margin: 20px auto;
        width: 90%;
        max-width: 300px;
        border-radius: 10px;
        object-fit: cover;
    }
    .letter{
        text-align: justify;
        margin-bottom: 10px;
        font-weight: 550;
        font-style: italic;
        font-size: 0.890rem;
        line-height: 28px;
    }
    /*__________________Carrousel section__________________*/
    .fade-slide {
        height: 300px;
    }
    .carrusel .subtitle{
        font-size: 1.5rem;
    }
}